springDemo/WebContent/META-INF/spring-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://lovcg.cn/schema/test"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://lovcg.cn/schema/test"
            elementFormDefault="qualified">
<xsd:element name="visit">
    <xsd:complexType>
        <xsd:attribute name="name" type="xsd:string" use="required" form="unqualified"/>
        <xsd:attribute name="url" type="xsd:string" use="required" form="unqualified"/>
    </xsd:complexType> 
</xsd:element>

</xsd:schema>