springDemo/src/main/java/cn/lvyjx/test/customtag/tag1/spring-user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://lovcg.cn/schema/user"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://lovcg.cn/schema/user"
            elementFormDefault="qualified">
<xsd:element name="user">
    <xsd:complexType>
        <xsd:attribute name="id" type="xsd:string" use="required" form="unqualified"/>
        <xsd:attribute name="userName" type="xsd:string" use="required" form="unqualified"/>
        <xsd:attribute name="email" type="xsd:string" use="required" form="unqualified"/>
    </xsd:complexType>
</xsd:element>

</xsd:schema>